body {
    background-color: lightblue; /* this sets the background to lightblue */
  }
  
  h3 {
    color: rgb(255, 0, 242);
    margin-left: 20px;
  }

  @font-face {
    font-family: 'Roboto Condensed', sans-serif;
      src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap')
  }

  *{
     font-family: 'Roboto Condensed', sans-serif; 
  }
  
  .intro {
    border-style: solid;
    border-width: medium;
    border-color: hsl(181, 100%, 50%);
    border-radius: 5px;
  }

  #interests{
    border-style: dotted;
    border-width: medium;
    border-color: hsl(303, 100%, 50%);
    border-radius: 5px;

    
    text-align: center;
    color: brown;
    text-decoration: underline;
    text-decoration-color: aquamarine;
  }



  #active:hover{
    background-color:rgb(251, 255, 0);
  }
  #active button{
    background:hsl(0, 0%, 98%);
  }
  #active button:active{
    background:hsl(181, 100%, 50%);
    
  }