body {
    background-color: lightblue; /* this sets the background to lightblue */
  }
  
  h3 {
    color: rgb(255, 0, 242);
    margin-left: 0.2cm;
  }

  @font-face { /* font */
    font-family: 'Roboto Condensed', sans-serif;
      src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap')
  }

  .flex-container { /*flex box*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgb(178, 237, 241);
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .grid-container { /*grid*/
    display: grid;

    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-content: start;
    grid-template-rows: 100px 200px;
    background-color: #8988e4;
    padding: 100px;
  }
  
  .grid-item { /*Class selector*/
    background-color: rgba(58, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
  }
  *{ /*universal selector*/
     font-family: 'Roboto Condensed', sans-serif; 
  }

  @media only screen and (max-width: 500px) { /* media query */
    body {
      background-color: rgb(230, 255, 138);
    }
  }
  div.intro { /*Element Class selector*/
    position: relative;
    border-style: solid;
    border-width: medium;
    border-color: hsl(181, 100%, 50%);
    border-radius: 2mm;
    min-width: 20vmin;
  }

  #interests{ /* ID selector*/
    position: sticky;
    min-width: 20vh;
    max-width: 40%;
    border-style: dotted;
    border-width: medium;
    border-color: hsl(303, 100%, 50%);
    border-radius: 5px;
    text-align: center;
    color: brown;
    text-decoration: underline;
    text-decoration-color: aquamarine;

  }

  section > details { /*child combinator*/
    display: inline;
    color:blueviolet;
    width: 520px;
    height: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 20px;
  }

  summary { /* element selector*/
    display: block;
    width: 320px;
    padding: top right bottom left 10px;
    margin: auto;
  }

  pre + code{ /*sibling selector*/
    color: green;
    width: 320px;
    padding: 10px;
    margin: top right bottom left 10px;
  }

  a[target=your_heart]{ /*attribute selector*/
    background-color: pink;
  }

  h3 ~ ul { /* adjacent sibling combinator */
    background: #e1ccf1;
  }

  ul, li{ /* selector list */
    color:  #111053
  }

  
  div h3 { /*descendent selctor*/
    color: yellow;
  }
  
  /*pseudo class and selectors*/
  #active:hover{
    background-color:rgb(251, 255, 0);
  }
  #active button{
    background:hsl(0, 0%, 98%);
  }
  #active button:active{
    background:hsl(181, 100%, 50%);
    
  }